body {
    background-color: #010165;
    margin: 0px;
    border: 3px solid black;
  }

.header {
  background-color: #00ffff;
  text-align: center;
}

.title-row {
  border: 3px solid purple;
  margin-top: 42px;
  margin-bottom: 21px;
  text-align: center;

}

.instructions-title {
  display: inline;
  font-size: 18px;
  color: #00ffff;
  font-family: 'Work Sans';
}

.instructions-row {
  margin: 0 auto;
  width: 400px;
}

.instructions-number {
  padding-right: 25px;
  font-family: 'Work Sans';
  font-size: 36px;
  color: #00ffff;
}

.instructions-text {
  padding: 10px;
  font-family: 'Work Sans';
  font-size: 14px;
  color: #ffffff;
}

.door-row {
  text-align: center;
}

.door-frame {
  border: 3px solid orange;
  cursor: pointer;
  padding: 10px;
}

.start-row {
  margin: auto;
  width: 120px;
  height: 43px;
  font-family: 'Work Sans';
  background-color: #eb6536;
  padding-top: 18px;
  font-size: 18px;
  text-align: center;
  color: #010165;
  margin-bottom: 21px;
  cursor: pointer;
}

.streak {
  border: 3px solid green;
  text-align: center;
  margin: 0 auto;
  width: 300px;
  padding: 10px;
}

.streakHeader {
  border: 3px solid red;
  font-family: 'Work Sans';
  font-size: 14px;
  color: #ffffff;
}

.streakCounters {
  border: 3px solid yellow;
  color: #010165;
  background-color: #00ffff;
  width: 150px;
  height: 50px;
  font-size: 36px;
  font-family: 'Work Sans';

}